/*================== breakpoints ==================*/

$breakpoints: (
        'small':  ( min-width:  768px ),
        'medium': ( min-width:  992px ),
        'large':  ( min-width: 1200px ),
) !default;

/// Responsive breakpoint manager
/// @access src
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
                    type-of($raw-query) == 'string',
                    unquote($raw-query),
                    inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

/* end breakpoints */

/* variable */
$font-family-body: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
$font-family-header: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;

/* end variable */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
}

p {
  font-family: $font-family-body;
}

h1,h2,h3,h4,h5 {
  font-family: $font-family-header;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.block__text {
  max-width: 1200px;
}

 /*================== nav ==================*/
.logo img{
  width: 160px;
  padding: 0 15px 0 0;
  margin: -30px 0 0 5px;
}

.logo {
  position: absolute;
}

 .bar1, .bar2, .bar3{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
  list-style-type: none;
  width: 100%;
  z-index:1;
  position: fixed;
  min-height: 50px;
  top: 0;
  background-color: #ffffff;
}

@include respond-to('small'){
  .menu {
    width: 100%;
    padding: 0 20px 0 0;
  }
}

.menu__nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  color: #333333;
  padding-top: 50px;
  width: 100%;
  padding-left: 0;
  & li {
    padding: 10px 0;
    display: inline-block;
    z-index: 1;
    & a {
      text-decoration: none;
      color: #333333;
      font-family: $font-family-header;
      &:hover {
        color:#ef4123;
        &.active {
          color: #337ab7;
        }
      }
    }
  }
}

.menu__nav-bar {
  float: right;
  margin: 10px 20px;
}

.is-close {
  display: none;
}

@include respond-to('small') {
  .menu__nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    padding-top: 0;
  }
  & li {
    margin: 0 20px;
    & a {
      text-decoration: none;
      color: #333333;
    }
  }
  .menu__nav-bar {
    display: none;
  }
  .is-close {
    display: inline-flex;
  }
}

#macy-container{
  margin: 70px 30px;
}

.demo {
  // margin-bottom: 24px;
  overflow: hidden;
  border: 1px solid #eee;
  // padding: 10px 20px;
}


.demo-image {
  width: 100%;
  display: block;
  height: auto;
}
/*end masonry*/

/*captions*/

#macy-container .demo:hover .caption {
  opacity: 1;
}

#macy-container .demo:hover .demo-image {
  opacity: 1;
	transform: scale(1.15,1.15);
}

#macy-container .demo-image {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

#macy-container .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transition:all 0.45s ease-in-out;
  width: 100%;
  height: 100%;
  display: flex;
}

#macy-container .demo-image {
  transition:all 0.25s ease-in-out;
}

#macy-container .blur {
  background-color: rgba(255,255,255,0.4);
  height: 100%;
  width: 100%;
	z-index: 5;
	position: absolute;
}

#macy-container .caption-text {
  text-transform: uppercase;
	font-size: 24px;
	z-index: 10;
	color: #000;
  display: flex;
  flex-grow: 1;
  align-self: center;
  justify-content: center;
}

/*end captions*/
/* end project-gallery */

/* contact.html */

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* hero */
.hero {
  padding-top: 150px;
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
/* end about */

/* end contact.html */


/* start about.html */

.photo__section {
  display: block;
  margin: 0 15px;
}
.photo__section-image {
  width: 100%;
  height: auto;
}

.photo__section-bottom {
  margin: 0 15px;
}

@include respond-to('small') {
  .photo__section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  .photo__section-left {
    flex-direction: row;
    display: flex;
    flex: 1 50%;
    margin: 0 15px;
    max-height: 750px;
  }
  .photo__section-right {
    flex-direction: column;
    display: flex;
    flex: 1 50%;
    margin: 0 15px;
  }

  .text-photo__section {
    display: flex;
    justify-content: center;
  }

  .photo__section-image {
    max-width: 100%;
  }

  .photo__section-bottom {
    max-width: 1200px;
    margin: 0 auto;
  }

}

/* end about.html */

/* projects pages */
#projects {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 15px;

}

.projects_lists {
  position: relative;
}

.demo_projects {
  max-width: 300px;
  height: auto;
}

.demo_projectName {
  opacity: 0;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.demo_projectName:hover {
  opacity: 1;
  transition:all 0.45s ease-in-out;
  cursor: pointer;
}